<!doctype html>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Bitter|Arimo|Merriweather|Open+Sans|Roboto" rel="stylesheet">

<html>
<title style="color:white"></title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<!-- <pre id="out" style="height:100px;color:black;">Ad appears here!</pre> -->

<style>body { max-width: 100%; margin: auto; padding: 1em; color: #fff; /* font: 16px/1.6 menlo, monospace;*/ }</style>
<body>
</body>

<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Fluid Demo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
<!---        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>	--->
      </ul>
    </div>
  </nav>

<!--- <p style="color:black" id="comment-thread-header"> This is the comment thread </p> -->

<div id="comment-thread">

	{% for key in results %}
<!--        <div class="comment" id="{{ key }}">
                <p class="comment-text" style="color:black"> {{ results[key] }} </p>
        </div>
-->

	<div class="comment1" id="{{ key }}">
		<div class="message-wrapper them">
			<div class="circle-wrapper animated bounceIn"><img src="{{ url_for('static', filename='stylesheets/common.png') }}" style="max-width: 100%;"></div>
			<div class="text-wrapper animated fadeIn">
				{{ results[key].body }}
			</div>
			
			<div class="chip" alt="Anonymous">
				{{ results[key].author }}
			</div>
		</div>
		
        
	</div>

	{% endfor %}
</div>

<script>
$(".comment").unbind().click(
        function(e) {
		alert('Comment clicked!');
        }
);


	console.log("Starting comment stream...");
	var commentSource = new EventSource('/comment-stream/'.concat("{{ thread_id }}"));
	var commentThread = document.getElementById("comment-thread");
	console.log("Registering handler...");

	commentSource.onmessage = function(e) {
		console.log("Data rcvd...");
		console.log(e.type);

		if (e.type == "message") {
			console.log(e.data);

//			var obj = JSON.parse(e.data);
		
			console.log("Msg rcvd...");
			var newComment = $("<div>", { "class":"comment1" });

//			var newCommentText = $("<p class='comment-text' style='color:black'>".concat(e.data).concat("</p>"));
			var newCommentText = $(
		                "<div class='message-wrapper them'><div class='circle-wrapper animated bounceIn'><img src=\"{{ url_for('static', filename='stylesheets/common.png') }}\" style=\"max-width: 100%;\"></div><div class='text-wrapper animated fadeIn'>".concat(e.data).concat("</div><div class='chip' alt='Anonymous'>").concat("Anonymous</div></div>")
			);
			newComment.append(newCommentText);

			$("#comment-thread").prepend(newComment);
		}
	};



</script>


<div id="ad-display">
	
	<div id="ad">
<!--		<div id="ad-title">
			{{ matched_ad.title }}
		</div>

		<div id="ad-body">
			{{ matched_ad.body }}
		</div>
-->		
	<p style="text-align:center;"> Fluid Ad </p>
  <div class="row">
      <div class="card">
        <div class="card-image" id="ad-image">
		{% if 'img' in matched_ad %}
          		<img src="{{ matched_ad.img }}">
		{% endif %}
        </div>
          <div id="ad-title-card" class="card-title">{{ matched_ad.title }}</div>
        <div class="card-content" id="ad-content-card">
	<p>{{ matched_ad.body }}</p>
        </div>
      </div>
  </div>
            
	</div>
</div>

<script>

var notLocked = true;
$.fn.animateHighlight = function(highlightColor, duration) {
    var highlightBg = highlightColor || "#FFFF9C";
    var animateMs = duration || 1500;
    var originalBg = this.css("backgroundColor");
    if (notLocked) {
        notLocked = false;
        this.stop().css("background-color", highlightBg)
            .animate({backgroundColor: originalBg}, animateMs);
        setTimeout( function() { notLocked = true; }, animateMs);
    }
};


$.fn.flash = function( color, duration )
{

    var current = this.css( 'color' );

    this.animate( { color: 'rgb(' + color + ')' }, duration / 2 );
    this.animate( { color: current }, duration / 2 );

}


console.log("Starting ad stream...");
var adSource = new EventSource('/ad-stream/'.concat("{{ thread_id }}"));
var adtitle = document.getElementById("ad-title-card");
var adbody = document.getElementById("ad-content-card");
var ad = document.getElementById("ad");
var adimage = document.getElementById("ad-image");

console.log("Registering ad handler...");

adSource.onmessage = function(e) {
	console.log("ad msg rcvd...");
	if (e.type == 'message')
	{
		console.log(e.data);
		var obj = JSON.parse(e.data);
		
		adtitle.innerHTML = obj.title;
		adbody.innerHTML = obj.body;
		if ('img' in obj) {
			adimage.innerHTML = "<img src=".concat(obj.img).concat(">");
		}
		else {
			adimage.innerHTML = "";
		}

//		$("#ad").effect("highlight", {}, 1000);
	}
};

</script>

</html>
